NODE_ENV=development
NEXT_PUBLIC_APP_URL=https://localhost:3000

# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres"

# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000 

# GitHub
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=