{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 160,
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }],
	"tailwindAttributes": ["wrapperClass", "contentClass"],
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"]
}
