@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');

@import 'tailwindcss';

@utility container {
    @apply mx-auto px-8;
}

@variant hocus (&:hover, &:focus);
@variant dark (&:where(.dark, .dark *));

@plugin "@tailwindcss/typography";

@theme {
    --font-sans: 'Geist Mono', 'serif';
    --font-mono: 'Geist Mono', 'serif';

    --color-primary-100: var(--color-zinc-100);
    --color-primary-200: var(--color-zinc-200);
    --color-primary-300: var(--color-zinc-300);
    --color-primary-400: var(--color-zinc-400);
    --color-primary-500: var(--color-zinc-500);
    --color-primary-600: var(--color-zinc-600);
    --color-primary-700: var(--color-zinc-700);
    --color-primary-800: var(--color-zinc-800);
    --color-primary-900: var(--color-zinc-900);
    --color-primary-950: var(--color-zinc-950);
}

@layer base {
    button {
        @apply cursor-pointer;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply text-primary-800 font-bold;
    }

    p,
    ul,
    ol {
        @apply text-primary-700 leading-relaxed;
    }

    section {
        @apply relative;
    }
}
