@import 'tailwindcss';

@utility container {
    @apply mx-auto px-8;
}

@variant hocus (&:hover, &:focus);
@variant dark (&:where(.dark, .dark *));

@plugin "@tailwindcss/typography";

@theme {
    --font-mono: var(--font-geist-mono), 'monospace';

    --color-primary-100: var(--color-zinc-100);
    --color-primary-200: var(--color-zinc-200);
    --color-primary-300: var(--color-zinc-300);
    --color-primary-400: var(--color-zinc-400);
    --color-primary-500: var(--color-zinc-500);
    --color-primary-600: var(--color-zinc-600);
    --color-primary-700: var(--color-zinc-700);
    --color-primary-800: var(--color-zinc-800);
    --color-primary-900: var(--color-zinc-900);
    --color-primary-950: var(--color-zinc-950);

    --animate-glitch: glitch 0.2s infinite steps(1);

    @keyframes glitch {
        0% {
            transform: translateX(0%) translateY(0%);
        }
        20% {
            transform: translateX(2%) translateY(1%);
        }
        40% {
            transform: translateX(-1%) translateY(3%);
        }
        60% {
            transform: translateX(4%) translateY(2%);
        }
        80% {
            transform: translateX(1%) translateY(4%);
        }
        100% {
            transform: translateX(3%) translateY(1%);
        }
    }
}

@layer base {
    button {
        @apply cursor-pointer;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply text-primary-800 dark:text-primary-300 font-bold;
    }

    p,
    ul,
    ol {
        @apply text-primary-700 dark:text-primary-400 leading-relaxed;
    }

    section {
        @apply relative;
    }
}
