@import 'tailwindcss';
@import 'tw-animate-css';

@plugin '@tailwindcss/typography';

@custom-variant zinc (&:where(.zinc, .zinc *));
@custom-variant white (&:where(.white, .white *));
@custom-variant black (&:where(.black, .black *));
@custom-variant pray-for-indonesia (&:where(.pray-for-indonesia, .pray-for-indonesia *));

@theme {
	--font-sans:
		'Syne Variable', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', 'Noto Color Emoji';
	--font-handwriting: 'Mynerve', var(--font-serif);

	--color-background: var(--background);
	--color-background-2: var(--background-2);
	--color-foreground-primary: var(--foreground-primary);
	--color-foreground-text: var(--foreground-text);
	--color-border: var(--border);
	--color-separator: var(--separator);
	--color-primary: var(--primary);
	--color-foreground-button: var(--foreground-button);
}

:root {
	--background: #f8f6e3;
	--background-2: #fff;
	--foreground-primary: #4b352a;
	--foreground-text: var(--color-zinc-600);
	--border: var(--color-zinc-800);
	--separator: var(--color-zinc-300);
	--primary: #229799;
	--foreground-button: var(--color-white);
}

.white {
	--background: var(--color-white);
	--background-2: var(--color-zinc-200);
	--foreground-primary: #4b352a;
	--foreground-text: var(--color-zinc-600);
	--border: var(--color-zinc-800);
	--separator: var(--color-zinc-200);
	--primary: #229799;
	--foreground-button: var(--color-white);
}

.zinc {
	--background: var(--color-zinc-900);
	--background-2: var(--color-zinc-800);
	--foreground-primary: var(--color-zinc-300);
	--foreground-text: var(--color-zinc-400);
	--border: var(--color-zinc-700);
	--separator: var(--color-zinc-800);
	--primary: #229799;
	--foreground-button: var(--color-white);
}

.black {
	--background: var(--color-black);
	--background-2: var(--color-zinc-700);
	--foreground-primary: var(--color-zinc-300);
	--foreground-text: var(--color-zinc-400);
	--border: var(--color-zinc-700);
	--separator: var(--color-zinc-800);
	--primary: #229799;
	--foreground-button: var(--color-white);
}

.pray-for-indonesia {
	--background: var(--color-teal-100);
	--background-2: var(--color-teal-200);
	--foreground-primary: #4b352a;
	--foreground-text: var(--color-zinc-600);
	--border: var(--color-teal-800);
	--separator: var(--color-teal-500);
	--foreground-button: var(--color-white);
	--primary: #ff2dd1;
}

@layer base {
	html {
		@apply scroll-smooth;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply -tracking-wider text-foreground-primary;
	}

	p,
	input,
	select,
	textarea {
		@apply leading-relaxed text-foreground-text;
	}

	input::placeholder {
		@apply text-zinc-400;
	}

	[class*='shj-lang-'] {
		white-space: pre;
		color: #112;
		text-shadow: none;
		box-sizing: border-box;
		background: #fff;
		/* border-radius: 10px; */
		max-width: min(100%, 100vw);
		/* margin: 10px 0; */
		padding: 30px 20px;
		font:
			18px/24px Consolas,
			Courier New,
			Monaco,
			Andale Mono,
			Ubuntu Mono,
			monospace;
		box-shadow: 0 0 5px #0001;
	}
	.shj-inline {
		border-radius: 5px;
		margin: 0;
		padding: 2px 5px;
		display: inline-block;
	}
	[class*='shj-lang-']::selection {
		background: #bdf5;
	}
	[class*='shj-lang-'] ::selection {
		background: #bdf5;
	}
	[class*='shj-lang-'] > div {
		display: flex;
		overflow: auto;
	}
	[class*='shj-lang-'] > div :last-child {
		outline: none;
		flex: 1;
	}
	.shj-numbers {
		counter-reset: line;
		padding-left: 5px;
	}
	.shj-numbers div {
		padding-right: 5px;
	}
	.shj-numbers div:before {
		color: #999;
		content: counter(line);
		opacity: 0.5;
		text-align: right;
		counter-increment: line;
		margin-right: 5px;
		display: block;
	}
	.shj-syn-cmnt {
		font-style: italic;
	}
	.shj-syn-err,
	.shj-syn-kwd {
		color: #e16;
	}
	.shj-syn-num,
	.shj-syn-class {
		color: #f60;
	}
	.shj-syn-insert,
	.shj-syn-str {
		color: #7d8;
	}
	.shj-syn-bool {
		color: #3bf;
	}
	.shj-syn-type,
	.shj-syn-oper {
		color: #5af;
	}
	.shj-syn-section,
	.shj-syn-func {
		color: #84f;
	}
	.shj-syn-deleted,
	.shj-syn-var {
		color: #f44;
	}
	.shj-oneline {
		padding: 12px 10px;
	}
	.shj-lang-http.shj-oneline .shj-syn-kwd {
		color: #fff;
		background: #25f;
		border-radius: 5px;
		padding: 5px 7px;
	}
	[class*='shj-lang-'] {
		color: #c9d1d9;
		background: #161b22;
	}
	[class*='shj-lang-']:before {
		color: #6f9aff;
	}
	.shj-syn-insert {
		color: #98c379;
	}
	.shj-syn-deleted,
	.shj-syn-err,
	.shj-syn-kwd {
		color: #ff7b72;
	}
	.shj-syn-class {
		color: #ffa657;
	}
	.shj-numbers,
	.shj-syn-cmnt {
		color: #8b949e;
	}
	.shj-syn-type,
	.shj-syn-oper,
	.shj-syn-num,
	.shj-syn-section,
	.shj-syn-var,
	.shj-syn-bool {
		color: #79c0ff;
	}
	.shj-syn-str {
		color: #a5d6ff;
	}
	.shj-syn-func {
		color: #d2a8ff;
	}
}

@layer components {
	.inner {
		@apply mx-auto w-9/10 max-w-272;
	}
}
